:root {
	--brand-grey-1: #c4c2c0; /** from lightest to darkest */
	--brand-grey-2: #3a3f4a;
	--brand-grey-3: #454b57;
	--brand-grey-4: #212733;
	--brand-white: #f8f5f7;
	--brand-red: #e03535;
	--brand-orange: #f68827;
	--brand-tan:#fbe08c;
	--brand-blue:#048aaa;
	--brand-green:#42a948;
	/* --brand-purple: #623AFF; */
	--brand-purple: #5a43b5;
}

body {
	background-color: var(--brand-grey-4);
}

p, a, body, h1, h2, h3, h4, h5, h6  {
	color: var(--brand-grey-1);
}

.footer {
	padding-bottom: 64px;
}

a:hover {
	color: var(--brand-blue);
}

.section-header {
	margin-top: 32px;
	padding: 8px 16px;
	background-color: var(--brand-purple);
	border-radius: 5px;
}

.quote {
	margin-top: 16px;
	background-color: var(--brand-grey-2);
	padding: 16px;
	border-radius: 5px;
}

.content-chunk {
	margin: 16px 0 8px 0;
	padding-top: 16px;
}

.content-chunk:not(:first-child) {
	border-top: 1px solid var(--brand-grey-3);
}

.author {
	margin-top: 16px;
	font-style: italic;

}






/** Note to self - this is from the old site */
#menu nav {
	display: flex;
	flex-flow: column;
	outline: none;
}

.menuItem {
	padding: 10px 12px;
	border-bottom: 1px solid #c4c2c0;
	background-color: rgba(255, 255, 255, 0.10);
	margin: 5px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.menuItemSelected {
	/* color: #f68827; */
	/* margin: 0 0 4px 12px; */
	border-left: 4px solid #f68827;
	border-bottom: 1px solid #f68827;
	/* border-radius: 5px; */
}

#menu nav a {
	text-decoration: none;
}

#menu nav a:hover {
	text-decoration: none;
	color: #f68827;
}

#wrapper {
	margin: 0 24px;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
		background-color: white;
	}
}

@keyframes sk-scaleout {
	0% {
	  -webkit-transform: scale(0);
	  transform: scale(0);
	}
	100% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	  opacity: 0;
	  background-color: white;
	}
}

.loader-sm {
	width: 30px;
	height: 30px;
	margin: 10px;
	background-color: #f68827;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
	animation: sk-scaleout 1.5s infinite ease-in-out;
  }

.loader-md {
	width: 80px;
	height: 80px;
	margin: 50px;
	background-color: #f68827;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
	animation: sk-scaleout 1.5s infinite ease-in-out;
}


.article-list-item {
	margin: 10px 0 10px 0;
	padding: 10px 10px 10px 0;
	/* border: 1px solid #c4c2c0; */
	display: flex;
	flex-flow: column;
	width: 400px;
}

.article-title {
	text-decoration: none;
	font-size: 1.5em;
}

.article-date {
	color: #c4c2c0;
}
.article-tags {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10px;
}

.article-tags .article-tag {
	border: 1px solid #048aaa;
	background-color: #048aaa;
	border-radius: 15px;
	margin: 0 10px 0 0;
	padding: 0 5px;
	font-size: 0.9em;
}

@media (max-width: 520px) {

}

@media (max-width: 600px) {

}

@media only screen and (max-width: 520px) {
	body {
		display: flex;
		flex-flow: column nowrap;
	}

	#menu {
		font-size: 1.1em;
		margin: 12px 10px 0 12px;
	}
}
@media only screen and (min-width: 520px) {
	body {
		display: flex;
		flex-flow: row nowrap;
	}

	#menu {
		font-size: 1.2em;
		min-width: 190px;
		height: 100%;
		margin: 12px 10px 0 12px;
	}
}
@media only screen and (min-width: 2000px) {
	/* for sumo sized (mac) screens */
}
